{% extends 'base.html' %}
{% block main %}

    <h4 class="text-center">Event Management Page</h4>
    <center>
        <p></p>
        <p>Welcome to our Event Control Center!</p>
        <p>Here you can manage your events.</p>
    </center>
    <p><b>Your current address detected as:</b></p>
    <center>
        <div id="vue-app">
            [[ message ]]
        </div>

    </center>

    <p></p>

    <table cellpadding="10" , align="center">
        <tr>
            <td>
                <b>Events organized by you: </b>

                <div id="your_event_list">
                    <ol>
                        <li v-for="event in events">
                            <b>[[ event.text ]]</b>
                            <a :href="'/event_service/details/?eventId=' + event.text"><b>details</b></a>
                        </li>
                    </ol>
                </div>
                <a href="{% url 'create_new' %}"><b>(+) Creat new event</b></a>
                <i>
                    <div id="vue-canWithdraw">
                        [[ message ]]
                    </div>
                    for the sold tickets
                </i>
                <div id="vue-withdrawButton">
                    <p>[[ message ]]</p>
                    <button @click="withdraw">Withdraw</button>
                </div>
            </td>
            <td></td>
            <td>
                <b>All active events: </b>

                <div id="active_event_list">
                    <ol>
                        <li v-for="event in events">
                            <b>[[ event.text ]]</b>
                            <a :href="'/event_service/details/?eventId=' + event.text"><b>details</b></a>
                        </li>
                    </ol>
                </div>
            </td>
        </tr>
    </table>

    <div id="app-modal">
        <!-- use the modal component, pass in the prop -->
        <modal v-if="showModal" @close="showModal = false">
            <h3 slot="header">[[ header ]]</h3>
            <h5 slot="body">[[ message ]]</h5>
        </modal>
    </div>

    <script>

        // register modal component
        Vue.component("modal", {
            template: "#modal-template"
        });

        // start modal
        var eventModal = new Vue({
            delimiters: ["[[", "]]"],
            el: "#app-modal",
            data: {
                showModal: false,
                header: 'Sending to blockchain..',
                message: 'Something went wrong'
            }
        });

        var app = new Vue({
            delimiters: ["[[", "]]"],
            el: '#vue-app',
            data: {
                message: 'Not detected. Refresh page and connect to Metamask.'
            }
        })

        var your_event_list = new Vue({
            delimiters: ["[[", "]]"],
            el: '#your_event_list',
            data: {
                events: [],
            }
        })

        var active_event_list = new Vue({
            delimiters: ["[[", "]]"],
            el: '#active_event_list',
            data: {
                events: [],
            }
        })

        var canWithdraw = new Vue({
            delimiters: ["[[", "]]"],
            el: '#vue-canWithdraw',
            data: {
                message: 'You can withdraw 0.0 ETH'
            }
        })

        var withdrawButton = new Vue({
            delimiters: ["[[", "]]"],
            el: '#vue-withdrawButton',
            data: {
                message: ''
            },
            methods: {
                withdraw: async function () {
                    const provider = await new ethers.providers.Web3Provider(window.ethereum);
                    const signer = provider.getSigner();
                    const signerAddress = await signer.getAddress();
                    const ticketOfficeAddress = Contract_address;
                    const ticketOfficeAbi = eventServiceABI;
                    const ticketOfficeContract = new ethers.Contract(ticketOfficeAddress, ticketOfficeAbi, provider);
                    const contractWithSigner = ticketOfficeContract.connect(signer);
                    const myEventList = await ticketOfficeContract.getOwnerEvents(signerAddress);
                    let tx;
                    try {
                        tx = await contractWithSigner.withdraw(String(myEventList[0]));
                        if (tx.hash) {
                            console.log('Transaction Hash: ' + tx.hash);
                            eventModal.message = 'Successfully withdrawn';
                            this.message = 'withdrawn';
                            eventModal.showModal = true;
                        } else {
                            eventModal.message = 'Something went wrong';
                            this.message = 'Only for owner';
                            eventModal.showModal = true;
                        }
                    } catch {
                        console.log('Error of the withdrawal');
                        eventModal.message = 'Something went wrong';
                        this.message = 'Only for owner';
                        eventModal.showModal = true;
                    }
                }
            }
        })

        async function getInfo() {
            // A Web3Provider wraps a standard Web3 provider, which is
            // what Metamask injects as window.ethereum into each page
            const provider = await new ethers.providers.Web3Provider(window.ethereum);
            // The provider also allows signing transactions to
            // send ether and pay to change state within the blockchain.
            // For this, we need the account signer...
            const signer = provider.getSigner();
            const signerAddress = await signer.getAddress();
            const network = await provider.getNetwork();
            let balance = await provider.getBalance(signerAddress);
            let balanceEth = ethers.utils.formatEther(balance);
            app.message = String(signerAddress) + ' Network: ' + network.name.toUpperCase() + '. Balance: ' + String(balanceEth) + ' ETH';
        }

        async function getMyEvents() {
            const provider = await new ethers.providers.Web3Provider(window.ethereum);
            const signer = provider.getSigner();
            const signerAddress = await signer.getAddress();
            const ticketOfficeAddress = Contract_address;
            const ticketOfficeAbi = eventServiceABI;
            const ticketOfficeContract = new ethers.Contract(ticketOfficeAddress, ticketOfficeAbi, provider);
            const myEventList = await ticketOfficeContract.getOwnerEvents(signerAddress);
            const activeEventList = await ticketOfficeContract.getActiveEvents();
            {#const userBalance = await ticketOfficeContract.getSenderBalance();#}
            const userBalance = await ticketOfficeContract.balances(signerAddress);
            if (userBalance > 0) {
                canWithdraw.message = 'You can withdraw ' + ethers.utils.formatEther(userBalance) + ' ETH';
            }
            for (let i = 0; i < myEventList.length; i++) {
                your_event_list.events.push({text: String(myEventList[i])});
            }
            for (let i = 0; i < activeEventList.length; i++) {
                active_event_list.events.push({text: String(activeEventList[i])});
            }
        }

        // Modern DApp Browsers
        if (window.ethereum) {
            web3 = new Web3(window.ethereum);
            try {
                window.ethereum.enable().then(function () {
                    console.log('User has allowed account access to DApp...');
                    getInfo();
                    getMyEvents();
                    //createNewEvent();
                });
            } catch (e) {
                console.log('User has denied account access to DApp...');
            }
        }
// Legacy DApp Browsers
        else if (window.web3) {
            web3 = new Web3(web3.currentProvider);
            console.log('Legacy DApp Browsers');
            getInfo();
            getMyEvents();
        }
// Non-DApp Browsers
        else {
            console.log('Non-DApp Browsers');
            alert('You have to install MetaMask !');
        }

    </script>

{% endblock %}